<div x-data="alpineOperations()" x-init="getOperations()">
    <div>
        <div>
            <h2>Operations</h2>
            <p>
                Start a new operation or review previous ones here.
            </p>
        </div>
        <hr>
        <div class="columns">
            <div class="column">
                <form class="m-1">
                    <div class="field">
                        <label class="label">Choose an operation to view:</label>
                        <div class="control">
                            <div class="select">
                                <select id="operation-select" x-on:change="loadPlanner()" x-model="selectedOperation">
                                    <!--                                    TODO deprecate disabled and make errors-->
                                    <option value="" default selected>Select an existing operation</option>
                                    <template x-for="op in operations">
                                        <option :key="op.id" :id="op.id-op.name" :value="op.id" x-text="`${op.name} - ${op.start}`"></option>
                                    </template>
                                </select>
                                <div class="p-1">
                                    <input id="agent-output" type="checkbox" x-model="isAgentOutputSelected">
                                    <label class="pl-1" for="agent-output">include agent output</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column is-flex is-flex-direction-column is-align-items-flex-end space">
                <div class="py-1">
                    <button class="button is-primary" x-on:click="isAddModalOpen = true">+ Add operation
                    </button>
                </div>
                <div class="py-1">
                    <button class="button is-primary">v Download full report</button>
                </div>
                <div class="py-1">
                    <button class="button is-primary">v Download event logs</button>
                </div>
                <div class="py-1">
                    <button class="button is-primary">! Delete</button>
                </div>
            </div>
        </div>
    </div>

    <template x-if="isAddModalOpen">
        <div class="modal is-active">
            <div class="modal-background"></div>
            <form class="m-1" id="opForm">
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Start New Operation</p>
                    </header>
                    <section class="modal-card-body">
                        <label for="op-name">Operation name</label>
                        <input id="op-name" type="text" x-model="currentOperation.name"
                               x-effect="editOperationField('name', $el.value)" required>
                        <div>
                            <p class="heading pt-2">Basic options</p>
                            <div class="m-1">
                                <select x-model="currentOperation.group"
                                        x-effect="editOperationField('group', $el.selectedOptions[0].value)">
                                    <option value="" selected>Use all groups</option>
                                    {% for g in groups %}
                                    <option value="{{ g|e }}">{{ g|e }}</option>
                                    {% endfor %}
                                </select>
                                <select x-model="currentOperation.adversary_id"
                                        x-effect="editOperationField('adversary_id', $el.selectedOptions[0].value)">
                                    <option value="" selected>No adversary (manual)</option>
                                    {% for adv in adversaries %}
                                    {% if adv.has_repeatable_abilities %}
                                    <!--                                            TODO deprecate data-has-repeatable later, since it seems to be used for purely styling-->
                                    <option id="qflow-{{ adv.adversary_id|e }}" value="{{ adv.adversary_id|e }}"
                                            data-has-repeatable>{{ adv.name|e }}
                                    </option>
                                    {% else %}
                                    <option id="qflow-{{ adv.adversary_id|e }}" value="{{ adv.adversary_id|e }}">{{
                                        adv.name|e }}
                                    </option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <select x-model="currentOperation.auto_close"
                                        x-effect="editOperationField('auto_close', $el.selectedOptions[0].value)">
                                    <option value="0" selected>Keep open forever</option>
                                    <option value="1">Auto close operation</option>
                                </select>
                                <select x-model="currentOperation.state"
                                        x-effect="editOperationField('state', $el.selectedOptions[0].value)">
                                    <option value="running" selected>Run immediately</option>
                                    <option value="paused">Pause on start</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <p class="heading pt-2">Autonomous</p>
                            <div class="m-1">
                                <select x-model="currentOperation.autonomous"
                                        x-effect="editOperationField('autonomous', $el.selectedOptions[0].value)">
                                    <option value="1" selected>Run autonomously</option>
                                    <option value="0">Require manual approval</option>
                                </select>
                                <select x-model="currentOperation.planner"
                                        x-effect="editOperationField('planner', $el.selectedOptions[0].value)">
                                    {% for p in planners %}
                                    {% if p.name == "atomic" %}
                                    <option value="{{ p.name|e }}" selected>Use {{ p.name|e }} planner</option>
                                    {% elif p.allow_repeatable_abilities %}
                                    <!--                                    TODO deprecate data-allow-repeatable-abilities?-->
                                    <option value="{{ p.name|e }}" data-allow-repeatable-abilities>Use {{ p.name|e }}
                                        planner
                                    </option>
                                    {% else %}
                                    <option value="{{ p.name|e }}">Use {{ p.name|e }} planner</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <select x-model="currentOperation.source"
                                        x-effect="editOperationField('source', $el.selectedOptions[0].value)">
                                    {% for s in sources %}
                                    {% if loop.first %}
                                    <option value="{{ s.name|e }}" selected>Use {{ s.name|e }} facts</option>
                                    {% else %}
                                    <option value="{{ s.name|e }}">Use {{ s.name|e }} facts</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <select x-model="currentOperation.use_learning_parsers"
                                        x-effect="editOperationField('use_learning_parsers', $el.selectedOptions[0].value)">
                                    <option value="1" selected>Use default parsers</option>
                                    <option value="0">Do not use default parsers</option>
                                </select>
                                <label class="heading pt-2" for="queueTimeout">Cleanup Timeout (secs)</label>
                                <input x-model="currentOperation.timeout"
                                       x-effect="editOperationField('timeout', $el.value)" id="queueTimeout"
                                       type="number" placeholder="30" value="30" min="0" max="300"
                                       onchange="stream('The number of seconds Caldera will wait per cleanup action to complete before continuing.')">
                            </div>
                        </div>
                        <div>
                            <p class="heading pt-2">Stealth</p>
                            <div class="m-1">
                                <select x-model="currentOperation.obfuscator"
                                        x-effect="editOperationField('obfuscator', $el.selectedOptions[0].value)">
                                    {% for o in obfuscators %}
                                    {% if loop.first %}
                                    <option value="{{ o.name|e }}" selected>{{ o.name|e }} obfuscation</option>
                                    {% else %}
                                    <option value="{{ o.name|e }}">{{ o.name|e }} obfuscation</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <label class="heading pt-2" for="queueJitter" required>Jitter (min/max) sec</label>
                                <input x-model="currentOperation.jitter"
                                       x-effect="editOperationField('jitter', $el.value)"
                                       id="queueJitter" value="4/8" type="text" pattern="[0-9\/0-9]*"
                                       placeholder="4/8"/>
                                <label class="heading pt-2" for="queueVisibility">Adjust visibility: </label>
                                <input x-model="currentOperation.visibility"
                                       x-effect="editOperationField('visibility', $el.value)" id="queueVisibility"
                                       type="range" value="50" min="1" max="100"
                                       onchange="stream('The higher the visibility number, the more risk you will take with your operation getting noticed by the defense.')">
                                <span x-text="currentOperation.visibility"></span>
                            </div>
                        </div>
                        <div>
                            <div class="m-1">
                                <label class="heading pt-2" for="schedule-time">Schedule operation</label>
                                <input x-model="schedule"
                                       x-effect="schedule = $el.value" type="time"
                                       id="schedule-time" value="00:00">
                            </div>
                        </div>
                    </section>
                    <footer class="modal-card-foot">
                        <!--                    TODO when user clicks on add operation it should show on view screen-->
                        <!--                    TODO add tooltip for scheduling, user must set AM/PM along with numerical time value in order for schedule to work-->
                        <button class="button is-primary is-small" x-on:click="handleStartOperation"
                                x-text="schedule ? 'Schedule' : 'Start'"></button>
                        <button class="button is-small" x-on:click="isAddModalOpen = false">Cancel</button>
                    </footer>
                </div>
            </form>
        </div>
    </template>
</div>

<script>
    function alpineOperations() {
        return {
            toast: '',
            selectedOperation: null,
            isAgentOutputSelected: false,
            isAddModalOpen: false,
            operations: [],
            currentOperation: {
                index: "operations",
                name: "",
                group: "",
                adversary_id: "",
                auto_close: "",
                state: "",
                autonomous: "",
                planner: "",
                source: "",
                use_learning_parsers: "",
                timeout: "",
                obfuscator: "",
                jitter: "",
                visibility: "",
            },
            schedule: "",

            getOperations() {
                restRequest('POST', {'index':'operations'}, (data) => {
                    this.operations = JSON.parse(data);
                    console.log('OPS RECEIVED', data, this.operations);
                });
            },

            editOperationField(fieldName, newValue) {
                if (fieldName === 'jitter') {
                    if (!newValue.includes('/')) return;
                    let [jitterMin, jitterMax] = newValue.split("/");
                    jitterMin = parseInt(jitterMin);
                    jitterMax = parseInt(jitterMax);

                    if (jitterMin < 0 || jitterMax < 0) {
                        toast('Error: Jitter ' + (!jitterMin ? 'MIN' : 'MAX') + ' must be valid.');
                        return;
                    }
                    if (jitterMin >= jitterMax) {
                        toast('Error: Jitter MIN must be less than the jitter MAX.');
                        return;
                    }
                }
                if (this.currentOperation[fieldName] !== null) {
                    this.currentOperation[fieldName] = newValue;
                }
                console.log('LOADED OPS', this.operations);
            },

            handleStartOperation() {
                if (!this.currentOperation.jitter) {
                    this.currentOperation.jitter = "4/8";
                }
                if (!this.currentOperation.name) {
                    toast('Error: Operation name field is empty.');
                } else if (this.schedule) {
                    const time = this.schedule.split(":");
                    restRequest('PUT', {
                        'index': 'schedule',
                        'operation': this.currentOperation,
                        'schedule': {'hour': parseInt(time[0]), 'minute': parseInt(time[1])}
                    });
                    this.isAddModalOpen = false;
                    toast('Scheduled operation ' + this.currentOperation.name + "!");
                } else {
                    restRequest('PUT', this.currentOperation, () => {
                        toast('Notice that you can pause or stop the operation at any time. Toggle into manual mode if you want full control or click potential links to add TTPs to the operation.');
                        // this.resetCurrentOperation();
                        this.getOperations();
                        document.getElementById('opForm').reset();
                    });
                    toast('Started operation ' + this.currentOperation.name + "!");
                    this.isAddModalOpen = false;
                }
            },

            resetCurrentOperation() {
                for (const field in this.currentOperation) {
                    if (field !== 'index') this.currentOperation[field] = "";
                }
            }

        }
    }
</script>

<style>
    .column {
        margin: 0;
    }

    /*input:invalid:required::after {*/
    /*    color: white;*/
    /*    content: "*";*/
    /*}*/
</style>
