<div x-data="alpineOperations()">
    <div>
        <div>
            <h2>Operations</h2>
            <p>
                Start a new operation or review previous ones here.
            </p>
        </div>
        <hr>
        <div class="columns">
            <div class="column">
                <h3>View</h3>
                <form>
                    <div class="field">
                        <label class="label">Choose an operation:</label>
                        <div class="control">
                            <div class="select">
                                <select id="operation-select" x-on:change="loadPlanner()" x-model="selectedOperation">
<!--                                    TODO deprecate disabled and make errors-->
                                    <option value="" disabled selected>Select an existing operation</option>
                                    {% for op in operations %}
                                        {% if op.start|length%}
                                        <!--                                TODO: check that this works-->
                                            <option id="{{ op.id|e }}-{{ op.name|e }}" value="{{ op.id|e }}">{{ op.name|e }} - {{ op.start|e }}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <input id="agent-output" type="checkbox" x-model="isAgentOutputSelected">
                                <label for="agent-output">include agent output</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column is-flex is-flex-direction-column is-align-items-flex-end space">
                <div class="py-1">
                    <button class="button is-primary" x-on:click="showAddModal = true">+ Add operation
                    </button>
                </div>
                <div class="py-1">
                    <button class="button is-primary">v Download full report</button>
                </div>
                <div class="py-1">
                    <button class="button is-primary">v Download event logs</button>
                </div>
                <div class="py-1">
                    <button class="button is-primary">! Delete</button>
                </div>
            </div>
        </div>
    </div>

    <template x-if="showAddModal">
        <div class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Add Operation</p>
                </header>
                <section class="modal-card-body">
                    <form>
                        <label for="op-name">Operation name</label>
                        <input id="op-name" type="text" x-model="newOperation.name" x-effect="editOperationField('name', $el.value)" required>
                        <div>
                            <h3>Basic options</h3>
                            <form>
                                <select x-model="newOperation.group" x-effect="editOperationField('group', $el.selectedOptions[0].value)">
                                    <option value="" selected>Use all groups</option>
                                    {% for g in groups %}
                                    <option value="{{ g|e }}">{{ g|e }}</option>
                                    {% endfor %}
                                </select>
                                <select x-model="newOperation.adversary" x-effect="editOperationField('adversary', $el.selectedOptions[0].value)">
                                    <option value="" selected>No adversary (manual)</option>
                                    {% for adv in adversaries %}
                                    {% if adv.has_repeatable_abilities %}
                                    <!--                                            TODO deprecate data-has-repeatable later, since it seems to be used for purely styling-->
                                    <option id="qflow-{{ adv.adversary_id|e }}" value="{{ adv.adversary_id|e }}"
                                            data-has-repeatable>{{ adv.name|e }}
                                    </option>
                                    {% else %}
                                    <option id="qflow-{{ adv.adversary_id|e }}" value="{{ adv.adversary_id|e }}">{{
                                        adv.name|e }}
                                    </option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <select x-model="newOperation.autoClose" x-effect="editOperationField('autoClose', $el.selectedOptions[0].value)">
                                    <option value="0" selected>Keep open forever</option>
                                    <option value="1">Auto close operation</option>
                                </select>
                                <select x-model="newOperation.run" x-effect="editOperationField('run', $el.selectedOptions[0].value)">
                                    <option value="running" selected>Run immediately</option>
                                    <option value="paused">Pause on start</option>
                                </select>
                            </form>
                        </div>
                        <div>
                            <h3>Autonomous</h3>
                            <form>
                                <select x-model="newOperation.autonomous" x-effect="editOperationField('autonomous', $el.selectedOptions[0].value)">
                                    <option value="1" selected>Run autonomously</option>
                                    <option value="0">Require manual approval</option>
                                </select>
                                <select x-model="newOperation.planner" x-effect="editOperationField('planner', $el.selectedOptions[0].value)">
                                    {% for p in planners %}
                                    {% if p.name == "atomic" %}
                                    <option value="{{ p.name|e }}" selected>Use {{ p.name|e }} planner</option>
                                    {% elif p.allow_repeatable_abilities %}
                                    <!--                                    TODO deprecate data-allow-repeatable-abilities?-->
                                    <option value="{{ p.name|e }}" data-allow-repeatable-abilities>Use {{ p.name|e }} planner</option>
                                    {% else %}
                                    <option value="{{ p.name|e }}">Use {{ p.name|e }} planner</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <select x-model="newOperation.source" x-effect="editOperationField('source', $el.selectedOptions[0].value)">
                                    {% for s in sources %}
                                    {% if loop.first %}
                                    <option value="{{ s.name|e }}" selected>Use {{ s.name|e }} facts</option>
                                    {% else %}
                                    <option value="{{ s.name|e }}">Use {{ s.name|e }} facts</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <select x-model="newOperation.parsers" x-effect="editOperationField('parsers', $el.selectedOptions[0].value)">
                                    <option value="1" selected>Use default parsers</option>
                                    <option value="0">Do not use default parsers</option>
                                </select>
                                <label for="queueTimeout">Cleanup Timeout (secs)</label>
                                <input x-model="newOperation.timeout" x-effect="editOperationField('timeout', $el.value)" id="queueTimeout" type="number" value="30" min="0" max="300"
                                       onchange="stream('The number of seconds Caldera will wait per cleanup action to complete before continuing.')">
                            </form>
                        </div>
                        <div>
                            <h3>Stealth</h3>
                            <form>
                                <select x-model="newOperation.obfuscator" x-effect="editOperationField('obfuscator', $el.selectedOptions[0].value)">
                                    {% for o in obfuscators %}
                                    {% if loop.first %}
                                        <option value="{{ o.name|e }}" selected>{{ o.name|e }} obfuscation</option>
                                    {% else %}
                                        <option value="{{ o.name|e }}">{{ o.name|e }} obfuscation</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="queueJitter">Jitter (min/max) sec</label>
                                <input x-model="newOperation.jitter" x-effect="editOperationField('jitter', $el.value)" id="queueJitter" value="0" type="number"/>
                                <label for="queueVisibility">Adjust visibility: </label>
                                <input x-model="newOperation.visibility" x-effect="editOperationField('visibility', $el.value)" id="queueVisibility" type="range" value="50" min="1" max="100" onchange="stream('The higher the visibility number, the more risk you will take with your operation getting noticed by the defense.')">
                            </form>
                        </div>
                        <div>
                            <h3>Schedule</h3>
                            <form>
                                <label for="schedule-time">Schedule operation</label>
                                <input x-model="newOperation.schedule" x-effect="editOperationField('schedule', $el.value)" type="time" id="schedule-time">
<!--                                <button onclick="handleScheduleAction()">-->
<!--                                    Schedule-->
<!--                                </button>-->
                            </form>
                        </div>
                    </form>
                </section>
                <footer class="modal-card-foot">
                    <!--                    TODO when user clicks on add operation it should show on view screen-->
                    <button class="button is-primary is-small" x-on:click="addOperation">Add Operation</button>
                    <button class="button is-small" x-on:click="showAddModal = false">Cancel</button>
                </footer>
            </div>
        </div>
    </template>
</div>

<script>
    function alpineOperations() {
        return {
            selectedOperation: null,
            isAgentOutputSelected: false,
            showAddModal: false,
            newOperation: {
                name: '',
                group: '',
                adversary: '',
                autoClose: '',
                run: '',
                autonomous: '',
                planner: '',
                source: '',
                parsers: '',
                timeout: '',
                obfuscator: '',
                jitter: '',
                visibility: '',
                schedule: '',
            },

            editOperationField(fieldName, newValue) {
                if (this.newOperation[fieldName] !== null) {
                  this.newOperation[fieldName] = newValue;
              }
            },

            addOperation() {
                console.log('ADD OPERATION', this.newOperation);
            }
        }
    }
</script>
