<div x-data="alpineOperations()" x-init="getOperations()">
    <div>
        <div>
            <div>
                <h2>Operations</h2>
                <p>
                    Start a new operation or review previous ones here.
                </p>
            </div>
            <hr>
            <div class="columns">
                <div class="column">
                    <form class="m-1">
                        <label class="label">Choose an operation to view:</label>
                        <div class="field columns">
                            <div class="column is-two-thirds">
                                <select id="operation-select" x-on:change="getOperation()"
                                        x-model="selectedOperationID">
                                    <option value="" default selected>Select an existing operation</option>
                                    <template x-for="op in operations">
                                        <option :key="op.id" :id="op.id-op.name" :value="op.id"
                                                x-text="`${op.name} - ${op.start}`"></option>
                                    </template>
                                </select>
                            </div>
                            <div class="column">
                                <button title="add operation" class="button is-primary is-small"
                                        x-on:click="openModal = 'addOperation'"><i class="pr-1 fas fa-plus"></i>
                                </button>
                                <button title="delete operation" class="button is-primary is-small"
                                        x-on:click="deleteOperation()"><i class="pr-1 fas fa-trash"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="column is-flex is-align-items-flex-end is-flex-direction-column">
                    <div class="mr-2">
                        <input id="agent-output" type="checkbox" x-model="isAgentOutputSelected">
                        <label class="pl-1 is-small" for="agent-output">include agent output</label>
                    </div>
                    <div class="is-flex mt-2">
                        <button title="download full report" class="button is-primary is-small ml-2"
                                x-on:click="downloadInfo('full-report')"><i class="pr-1 fas fa-arrow-down"></i>Full
                            report
                        </button>
                        <button title="download event logs" class="button is-primary is-small ml-2"
                                x-on:click="downloadInfo('event-logs')"><i class="pr-1 fas fa-arrow-down"></i>Event logs
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <template x-if="selectedOperation">
            <div x-show="selectedOperationID">
                <div class="log-container">
                    <div class="columns">
                        <div class="column">
                            <h3 class="my-1 is-size-4" x-text="selectedOperation.name"></h3>
                            <h2 class="is-size-6 has-text-weight-normal mb-5 mt-0">Operation</h2>

                            <h3 class="my-1 is-size-5" x-text="selectedOperation.state"></h3>
                            <h2 class="is-size-7 has-text-weight-normal mb-5 mt-0">Current state</h2>

                            <h3 class="my-1 is-size-5" x-text="selectedOperation.chain.length"></h3>
                            <h2 class="is-size-7 has-text-weight-normal mb-5 mt-0">Decisions</h2>
                        </div>
                        <div class="column controls-form-group">
                            <div class="is-flex is-flex-direction-row is-4">
                                <label for="operation-obfuscator" title="choose obfuscation method">
                                    <select id="operation-obfuscator" x-model="selectedOperation.obfuscator"
                                            x-on:change="updateObfuscator()">
                                        {% for o in obfuscators %}
                                        <option value="{{ o.name|e }}">Use {{ o.name|e }} obfuscation</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <button title="add manual command" class="button is-primary is-small"
                                    x-on:click="openModal = 'addCommand'">Add manual command
                            </button>
                            <button title="add potential link" class="button is-primary is-small"
                                    x-on:click="openModal = 'addLink'">Add potential link
                            </button>
                            <div class="toggle">
                                <label class="switch" for="toggleAutonomous">
                                    <input type="checkbox" id="toggleAutonomous"
                                           x-model="selectedOperation.autonomous"
                                           x-on:change="updateOperationToggle()"/>
                                    <span class="slider round">
                                        <span x-bind:class="selectedOperation.autonomous ? 'on' : 'off'"
                                              x-text="selectedOperation.autonomous ? 'Autonomous' : 'Manual'"></span>
                                </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="controls-container is-flex is-justify-content-center is-align-items-center">
                        <button class="button no-style is-large" x-on:click="updateOperationState('cleanup')"><i
                                alt="stop" class="fas fa-stop"></i></button>
                        <template x-if="selectedOperation.state ==='running'">
                            <button class="button no-style is-larger" x-on:click="updateOperationState('paused')"><i
                                    alt="pause" class="fas fa-pause-circle"></i></button>
                        </template>
                        <template x-if="selectedOperation.state !== 'running'">
                            <button class="button no-style is-larger" x-on:click="updateOperationState('running')">
                                <i alt="run" class="fas fa-play-circle"></i></button>
                        </template>
                        <button class="button no-style is-medium" x-on:click="updateOperationState('run_one_link')">
                            <i alt="run one step" class="fas fa-play"><sub>1</sub></i></button>
                    </div>
                    <template x-if="selectedOperation.chain">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="decideColumn">Decide</th>
                                <th></th>
                                <th>Name</th>
                                <th>Agent</th>
                                <th></th>
                            </tr>
                            </thead>
                            <template x-for="(link, index) in selectedOperation.chain">
                                <tbody :key="index">
                                <tr x-bind:id="link.id + '-rs'" class="success">
                                    <td class="decideColumn" x-text="link.decide"></td>
                                    <td class="linkStatusColumn"><span
                                            x-bind:title="(link.status in linkStatuses) ? linkStatuses[link.status] : 'queued'"
                                            x-bind:class="'linkStatus status-'+((link.status in linkStatuses) ? linkStatuses[link.status] : 'queued')"></span>
                                    </td>
                                    <td x-text="link.ability.name + ((link.ability.cleanup) ? '(CLEANUP)' : '')"></td>
                                    <td x-text="'agent#'+link.paw">
                                    <td class="linkActionsColumn">
                                        <span>
                                            <template x-if="link.facts.length > 0">
                                                <button title="show facts" class="button no-style"
                                                        x-on:click="selectedLink = link; getResults(link.id); openModal = 'showFacts'">
                                                    <i class="fas fa-star facts"></i>
                                                </button>
                                            </template>
                                            <template x-if="link.facts.length < 1">
                                                <button disabled class="button no-style" title="no facts"><i
                                                        class="far fa-star no-facts"></i></button>
                                            </template>
                                        </span>
                                        <span>
                                            <template x-if="link.status === -5">
                                                <button title="remove link" class="button no-style"
                                                        x-on:click="updateLinkState(link.id, -3)"><i
                                                        class="fas fa-plus"></i></button>
                                            </template>
                                            <template x-if="!(link.collect || link.status <= -4) || link.status === -1">
                                                <button title="remove link" class="button no-style"
                                                        x-on:click="updateLinkState(link.id, -2)"><i
                                                        class="fas fa-trash"></i></button>
                                                </button>
                                            </template>
                                        </span>
                                        <template x-if="link.status === -1">
                                        <span x-bind:class="'editButtonContainer ' + (showLinkEditDropdown === link.id ? 'selected' : '') ">
                                            <button title="edit command" class="button no-style"
                                                    x-on:click="showLinkEditDropdown = (showLinkEditDropdown === link.id) ? null : link.id"><i
                                                    class="fas fa-pencil-alt editCommand"></i></button>
                                        </span>
                                        </template>
                                    </td>
                                </tr>
                                <tr class="linkEditCommandRow" x-show="showLinkEditDropdown === link.id">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td x-init="editedCommand = editedCommand ? editedCommand : b64DecodeUnicode(link.command)">
                                        <label for="editedCommand"></label>
                                        <textarea id="editedCommand"
                                                  class="code"
                                                  contenteditable
                                                  x-model="editedCommand"
                                                  spellcheck="false"></textarea>
                                        <div class="linkEditControls">
                                            <button class="button is-primary is-small"
                                                    x-on:click="updateLinkState(link.id, -3, editedCommand); showLinkEditDropdown = null">
                                                Update
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </template>
                        </table>
                    </template>
                </div>
            </div>
        </template>


        <!--    MODALS      -->
        <template x-if="openModal">
            <div class="modal is-active">
                <div class="modal-background"></div>
                <form class="m-1">
                    <div class="modal-card">
                        <template x-if="openModal === 'addOperation'">
                            <div>
                                <header class="modal-card-head">
                                    <p class="modal-card-title">Start New Operation</p>
                                </header>
                                <section class="modal-card-body">
                                    <label for="op-name">Operation name</label>
                                    <input class="input" id="op-name" type="text" x-model="startOperation.name"
                                           x-effect="updateObject('name', $el.value)" required>
                                    <div>
                                        <p class="heading pt-2">Basic options</p>
                                        <div class="m-1">
                                            <select x-model="startOperation.group"
                                                    x-effect="updateObject('group', $el.selectedOptions[0].value)">
                                                <option value="" selected>Use all groups</option>
                                                <template x-for="group in agentGroups">
                                                    <option x-text="group"></option>
                                                </template>
                                            </select>
                                            <select x-model="startOperation.adversary_id"
                                                    x-effect="updateObject('adversary_id', $el.selectedOptions[0].value)">
                                                <option value="" selected>No adversary (manual)</option>
                                                {% for adv in adversaries %}
                                                {% if adv.has_repeatable_abilities %}
                                                <!--                                            TODO deprecate data-has-repeatable later, since it seems to be used for purely styling-->
                                                <option id="qflow-{{ adv.adversary_id|e }}"
                                                        value="{{ adv.adversary_id|e }}"
                                                        data-has-repeatable>{{ adv.name|e }}
                                                </option>
                                                {% else %}
                                                <option id="qflow-{{ adv.adversary_id|e }}"
                                                        value="{{ adv.adversary_id|e }}">{{
                                                    adv.name|e }}
                                                </option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                            <select x-model="startOperation.auto_close"
                                                    x-effect="updateObject('auto_close', $el.selectedOptions[0].value)">
                                                <option value="0" selected>Keep open forever</option>
                                                <option value="1">Auto close operation</option>
                                            </select>
                                            <select x-model="startOperation.state"
                                                    x-effect="updateObject('state', $el.selectedOptions[0].value)">
                                                <option value="running" selected>Run immediately</option>
                                                <option value="paused">Pause on start</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="heading pt-2">Autonomous</p>
                                        <div class="m-1">
                                            <select x-model="startOperation.autonomous"
                                                    x-effect="updateObject('autonomous', $el.selectedOptions[0].value)">
                                                <option value="1" selected>Run autonomously</option>
                                                <option value="0">Require manual approval</option>
                                            </select>
                                            <select x-model="startOperation.planner"
                                                    x-effect="updateObject('planner', $el.selectedOptions[0].value)">
                                                {% for p in planners %}
                                                {% if p.name == "atomic" %}
                                                <option value="{{ p.name|e }}" selected>Use {{ p.name|e }} planner
                                                </option>
                                                {% elif p.allow_repeatable_abilities %}
                                                <!--                                    TODO deprecate data-allow-repeatable-abilities?-->
                                                <option value="{{ p.name|e }}" data-allow-repeatable-abilities>Use {{
                                                    p.name|e
                                                    }}
                                                    planner
                                                </option>
                                                {% else %}
                                                <option value="{{ p.name|e }}">Use {{ p.name|e }} planner</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                            <select x-model="startOperation.source"
                                                    x-effect="updateObject('source', $el.selectedOptions[0].value)">
                                                {% for s in sources %}
                                                {% if loop.first %}
                                                <option value="{{ s.name|e }}" selected>Use {{ s.name|e }} facts
                                                </option>
                                                {% else %}
                                                <option value="{{ s.name|e }}">Use {{ s.name|e }} facts</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                            <select x-model="startOperation.use_learning_parsers"
                                                    x-effect="updateObject('use_learning_parsers', $el.selectedOptions[0].value)">
                                                <option value="1" selected>Use default parsers</option>
                                                <option value="0">Do not use default parsers</option>
                                            </select>
                                            <label class="heading pt-2" for="queueTimeout">Cleanup Timeout
                                                (secs)</label>
                                            <input class="input" x-model="startOperation.timeout"
                                                   x-effect="updateObject('timeout', $el.value)" id="queueTimeout"
                                                   type="number" placeholder="30" value="30" min="0" max="300"
                                                   onchange="stream('The number of seconds Caldera will wait per cleanup action to complete before continuing.')">
                                        </div>
                                    </div>
                                    <div>
                                        <p class="heading pt-2">Stealth</p>
                                        <div class="m-1">
                                            <select x-model="startOperation.obfuscator"
                                                    x-effect="updateObject('obfuscator', $el.selectedOptions[0].value)">
                                                {% for o in obfuscators %}
                                                {% if loop.first %}
                                                <option value="{{ o.name|e }}" selected>{{ o.name|e }} obfuscation
                                                </option>
                                                {% else %}
                                                <option value="{{ o.name|e }}">{{ o.name|e }} obfuscation</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                            <label class="heading pt-2" for="queueJitter" required>Jitter (min/max)
                                                sec</label>
                                            <input class="input" x-model="startOperation.jitter"
                                                   x-effect="updateObject('jitter', $el.value)"
                                                   id="queueJitter" value="4/8" type="text" pattern="[0-9\/0-9]*"
                                                   placeholder="4/8"/>
                                            <label class="heading pt-2" for="queueVisibility">Adjust
                                                visibility: </label>
                                            <input x-model="startOperation.visibility"
                                                   x-effect="updateObject('visibility', $el.value)"
                                                   id="queueVisibility"
                                                   type="range" value="50" min="1" max="100"
                                                   onchange="stream('The higher the visibility number, the more risk you will take with your operation getting noticed by the defense.')">
                                            <span x-text="startOperation.visibility"></span>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="m-1">
                                            <label class="heading pt-2" for="schedule-time">Schedule operation</label>
                                            <input class="input" x-model="schedule"
                                                   x-effect="schedule = $el.value" type="time"
                                                   id="schedule-time" value="00:00">
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </template>

                        <template x-if="openModal === 'addCommand'">
                            <div>
                                <header class="modal-card-head">
                                    <p class="modal-card-title">Add New Manual Command</p>
                                </header>
                                <section class="modal-card-body">
                                    <label for="manual-agent">Choose an agent:</label>
                                    <select id="manual-agent" x-model="selectedAgentIndex">
                                        <option default>none selected</option>
                                        <template x-for="(agent, index) in selectedOperation.host_group">
                                            <option :value="index"
                                                    x-text="agent.display_name + '-' + agent.paw"></option>
                                        </template>
                                    </select>
                                    <template x-if="selectedAgent">
                                        <div>
                                            <label for="input-command">Type manual command:</label>
                                            <select x-model="manualCommand.executor" id="manual-executor">
                                                <template x-for="(executor, index) in selectedAgentExecutors">
                                                    <option x-text="executor" :value="selectedAgent.executors[index]"
                                                            x-bind:selected="index === 0"></option>
                                                </template>
                                            </select>
                                            <input x-model="manualCommand.command" id="input-command" type="text"
                                                   required
                                                   placeholder="Echo 'Hello World!'">
                                        </div>
                                    </template>
                                </section>
                            </div>
                        </template>

                        <template x-if="openModal === 'addLink'">
                            <div>
                                <header class="modal-card-head">
                                    <p class="modal-card-title">Add New Potential Link</p>
                                </header>
                                <section class="modal-card-body">
                                    <select x-model="selectedAgentIndex" x-on:change="getAgentLinks()">
                                        <option default value="">Choose an agent...</option>
                                        <template x-for="(agent, index) in selectedOperation.host_group">
                                            <option :value="index"
                                                    x-text="agent.display_name + '-' + agent.paw"></option>
                                        </template>
                                    </select>

                                    <select x-model="potentialLink.tactic" x-on:change="filterAbilities()">
                                        <option default value="">Choose a tactic...</option>
                                        <template x-for="tactic in tacticFiltersList">
                                            <option x-text="tactic"></option>
                                        </template>
                                    </select>

                                    <select x-model="potentialLink.technique" x-on:change="filterAbilities()">
                                        <option default>Choose a technique...</option>
                                        <template x-for="technique in techniqueFiltersList">
                                            <option x-text="technique"></option>
                                        </template>
                                    </select>
                                </section>
                                <div>
                                    <p x-text="filteredLinksList.length + ' potential link' + ((filteredLinksList.length === 1) ? '' : 's')"></p>
                                    <template x-if="filteredLinksList">
                                        <ul>
                                            <template x-for="link in filteredLinksList">
                                                <li>
                                                    <p x-text="link.ability.name"></p>
                                                    <button class="button is-primary is-small"
                                                            x-on:click="addLink(link)">
                                                        Add Link
                                                    </button>
                                                </li>
                                            </template>
                                        </ul>
                                    </template>
                                    <template x-if="!filteredLinksList"><p>Building potential links...</p></template>
                                </div>
                            </div>
                        </template>

                        <template x-if="openModal === 'showFacts'">
                            <div>
                                <header class="modal-card-head">
                                    <p class="modal-card-title">Facts</p>
                                </header>
                                <section class="modal-card-body">
                                    <template x-if="selectedLinkOutput">
                                        <div class="mb-5">
                                            <p>Output: </p>
                                            <code x-text="selectedLinkOutput"></code>
                                        </div>
                                    </template>
                                    <template x-for="fact in selectedLinkFacts">
                                        <p class="highlight" x-text="fact"></p>
                                    </template>
                                    <p x-show="selectedLinkCommand">Command: <em x-text="selectedLinkCommand"></em></p>
                                </section>
                            </div>
                        </template>
                        <footer class="modal-card-foot">
                            <!--                    TODO when user clicks on add operation it should show on view screen-->
                            <!--                    TODO add tooltip for scheduling, user must set AM/PM along with numerical time value in order for schedule to work-->
                            <template x-if="openModal === 'addOperation'">
                                <button class="button is-primary is-small" x-on:click="handleStartOperation"
                                        x-text="schedule ? 'Schedule' : 'Start'"></button>
                            </template>
                            <template x-if="openModal === 'addCommand'">
                                <button class="button is-primary is-small"
                                        x-on:click="handleManualCommand">
                                    <!--                                TODO change save to add command? explore later-->
                                    Save
                                </button>
                            </template>
                            <button class="button is-small" x-on:click="openModal = null"
                                    x-text="openModal === 'addLink' ? 'Close' : 'Cancel'">Cancel
                            </button>
                        </footer>
                    </div>
                </form>
            </div>
        </template>
    </div>
</div>

<script>
    const endpoint = '/api/v2/operations';
    const executorShells = {
        psh: 'PS >',
        cmd: '>',
        sh: '$'
    };
    const linkStatuses = {
        '0': 'success',
        '1': 'failure',
        '-2': 'remove',
        '-3': 'collect',
        '-4': 'untrusted',
        '-5': 'visible',
        '124': 'timeout'
    };

    function alpineOperations() {
        return {
            agentGroups: `{{ groups | tojson }}`.toString().replace(/["\[\]]/g, '').split(','),
            selectedOperationID: null,
            selectedOperation: null,
            selectedAgentIndex: null,
            selectedLink: null,
            selectedLinkOutput: null,
            selectedLinkFacts: null,
            selectedLinkCommand: null,
            isAgentOutputSelected: false,
            openModal: null,
            operations: [],
            startOperation: {
                index: "operations",
                name: "",
                group: "",
                adversary_id: "",
                auto_close: "",
                state: "",
                autonomous: "",
                planner: "",
                source: "",
                use_learning_parsers: "",
                timeout: "",
                obfuscator: "",
                jitter: "",
                visibility: "",
            },
            manualCommand: {
                index: "manual_command",
                agent: "",
                operation: "",
                executor: "",
                command: ""
            },
            potentialLink: {
                agent: "",
                tactic: "",
                technique: "",
            },
            tacticFiltersList: [],
            techniqueFiltersList: [],
            filteredLinksList: [],
            schedule: "",
            showLinkEditDropdown: null,
            editedCommand: null,

            get selectedAgent() {
                return this.selectedOperation?.host_group[this.selectedAgentIndex];
            },

            get selectedAgentExecutors() {
                if (this.selectedAgent) return this.selectedAgent.executors.map(e => executorShells[e]);
                else return [];
            },

            //
            // API CALLS
            //

            getOperations() {
                restRequest('GET', {}, (res) => {
                    this.operations = JSON.parse(res);
                }, endpoint);
            },

            getOperation() {
                if (this.selectedOperationID) {
                    restRequest('GET', {}, (res) => {
                        this.selectedOperation = JSON.parse(res);
                        console.log('NEW OP stat', this.selectedOperation.state)
                        // toast('Go to the GameBoard plugin to see if the blue team can detect your activities.', true);
                    }, endpoint + '/' + this.selectedOperationID);
                } else {
                    toast('Select a valid operation to view.');
                }
            },

            deleteOperation() {
                const operationName = this.selectedOperation.name;
                restRequest('DELETE', {'index': 'operations', 'id': this.selectedOperationID}, (res) => {
                    // TODO check this error
                    if (!res) toast('Error deleting operation: ', operationName);
                    else {
                        this.getOperations();
                        this.selectedOperation = null;
                        this.selectedOperationID = null;
                        toast('Deleted operation: ', operationName, true);
                    }
                })
            },

            getAgents() {
                restRequest('POST', {'index': 'agents'}, (data) => {
                    this.updateAgentGroups(JSON.parse(data));
                });
            },

            // TODO check with mock fact data
            getResults(linkID) {
                restRequest('POST', {'index': 'result', 'link_id': linkID}, (data) => {
                    if (data) {
                        data = JSON.parse(data);
                        this.selectedLinkOutput = b64DecodeUnicode(data.output);
                        if (data.link.facts) {
                            this.selectedLinkFacts = Array.from(data.link.facts, fact => fact.value.toString());
                            this.selectedLinkFacts = Array.from(new Set(this.selectedLinkFacts));
                            this.selectedLinkFacts.sort((a, b) => b.length - a.length);
                        }
                        this.selectedLinkCommand = b64DecodeUnicode(data.link.command);
                    } else {
                        this.selectedLinkOutput = null;
                        this.selectedLinkFacts = null;
                        this.selectedLinkCommand = null;
                    }
                });
            },

            handleStartOperation() {
                if (!this.startOperation.jitter) {
                    this.startOperation.jitter = "4/8";
                }
                if (!this.startOperation.name) {
                    toast('Error: Operation name field is empty.');
                } else if (this.schedule) {
                    const time = this.schedule.split(":");
                    restRequest('PUT', {
                        'index': 'schedule',
                        'operation': this.startOperation,
                        'schedule': {'hour': parseInt(time[0]), 'minute': parseInt(time[1])}
                    });
                    this.openModal = null;
                    toast('Scheduled operation ' + this.startOperation.name + "!", true);
                } else {
                    restRequest('PUT', this.startOperation, () => {
                        toast('Notice that you can pause or stop the operation at any time. Toggle into manual mode if you want full control or click potential links to add TTPs to the operation.', true);
                        // TODO if the v2 PUT request returns a new operation id, set this to the ID
                        // if not, then set it to latest item in this.operations[]
                        // this.selectedOperation = this.startOperation;
                        this.resetObject(this.startOperation);
                        this.getOperations();
                    });
                    toast('Started operation ' + this.startOperation.name + "!", true);
                    this.openModal = null;
                }
            },

            handleManualCommand() {
                if (!this.manualCommand.command) {
                    toast('Enter manual command.');
                    return;
                }
                this.manualCommand.agent = this.selectedAgent.paw;
                this.manualCommand.operation = this.selectedOperationID;
                this.manualCommand.executor = document.getElementById('manual-executor').selectedOptions[0].value;
                restRequest('PUT', this.manualCommand, (data) => {
                    data = JSON.parse(data);
                    this.openModal = null;
                    if (data['error']) toast('Error: ' + data['error']);
                    else {
                        toast('Added manual command.', true);
                        this.getOperation();
                        this.resetObject(this.manualCommand)
                    }
                })
            },

            getAgentLinks() {
                this.potentialLink.agent = this.selectedAgent;
                this.tacticFiltersList = [];
                this.techniqueFiltersList = [];
                this.potentialLink.agent.links.forEach((link) => {
                    this.tacticFiltersList.push(link.ability.tactic);
                    this.techniqueFiltersList.push(link.ability.technique_name);
                });
                this.tacticFiltersList = sortAlphabetically(this.tacticFiltersList);
                this.techniqueFiltersList = sortAlphabetically(this.techniqueFiltersList);
                this.filteredLinksList = this.potentialLink.agent.links;
            },

            addLink(link) {
                restRequest('PUT', {...link, index: "link"}, () => {
                    this.getOperations();
                    this.getAgents();
                }, '/api/rest');
            },

            updateOperationState(newState) {
                toast('Changing operation state to: ' + newState);
                restRequest('POST', {
                    'index': 'operation',
                    'op_id': this.selectedOperationID,
                    'state': newState
                }, () => this.getOperation());
            },

            updateOperationToggle() {
                console.log('SELECTED OP TOGGLE', this.selectedOperation.autonomous);
                restRequest('POST', {
                    'index': 'operation',
                    'op_id': this.selectedOperationID,
                    'autonomous': 'toggleMe'
                });
            },

            updateObfuscator() {
                console.log('chosen obfusc', this.selectedOperation.obfuscator)
                restRequest('POST', {
                    'index': 'operation',
                    'op_id': this.selectedOperationID,
                    'obfuscator': this.selectedOperation.obfuscator
                });
            },

            updateLinkState(linkID, status, command = null) {
                const data = {
                    'index': 'chain',
                    'link_id': linkID,
                    'status': status
                };
                if (command) {
                    data['command'] = command;
                }
                restRequest('POST', data, (data) => {
                        if (data['error']) {
                            toast('Error: ' + data['error']);
                            return;
                        }
                        this.getOperation();
                        toast('Updating link status to: ' + linkStatuses[status]);
                    }
                );
            },

            downloadInfo(formatType) {
                if (!this.selectedOperationID) {
                    toast('Select a valid operation to download.');
                } else {
                    console.log('agent output val', this.isAgentOutputSelected, Number(this.isAgentOutputSelected));
                    restRequest('POST', {
                        'index': 'operation_report',
                        'op_id': this.selectedOperationID,
                        'agent_output': Number(this.isAgentOutputSelected),
                        'format': formatType
                    }, (data) => {
                        data = JSON.parse(data);
                        this.createDownloadReport(data, this.selectedOperation.name + '_' + formatType);
                    })
                }
            },

            //
            // OBJECT MANIPULATION
            //

            createDownloadReport(data, fileName) {
                const dataURL = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(data, null, 2));
                toast('Downloading report: ' + fileName);
                const elem = document.createElement('a')
                elem.setAttribute('href', dataURL);
                elem.setAttribute('download', fileName + '.json');
                elem.click();
            },

            resetObject(obj = {}) {
                for (const field in obj) {
                    if (field !== 'index') this.startOperation[field] = "";
                }
            },

            updateAgentGroups(agents) {
                if (agents) {
                    agents.forEach((agent) => {
                        if (!this.agentGroups.includes(agent.group)) this.agentGroups.push(agent.group);
                    })
                }
            },

            updateObject(fieldName, newValue, obj = this.startOperation) {
                if (obj === this.startOperation && fieldName === 'jitter') {
                    if (!newValue.includes('/')) return;
                    let [jitterMin, jitterMax] = newValue.split("/");
                    jitterMin = parseInt(jitterMin);
                    jitterMax = parseInt(jitterMax);

                    if (jitterMin < 0 || jitterMax < 0) {
                        toast('Error: Jitter ' + (!jitterMin ? 'MIN' : 'MAX') + ' must be valid.');
                        return;
                    }
                    if (jitterMin >= jitterMax) {
                        toast('Error: Jitter MIN must be less than the jitter MAX.');
                        return;
                    }
                }
                if (obj[fieldName] !== null) {
                    obj[fieldName] = newValue;
                }
            },

            filterAbilities() {
                console.log('filterAbilities called', this.potentialLink);
                this.filteredLinksList = this.potentialLink.agent.links.filter((link) => {
                    let match = true;
                    if (this.potentialLink.tactic) match = this.potentialLink.tactic === link.ability.tactic;
                    if (this.potentialLink.technique) match = this.potentialLink.technique === link.ability.technique_name;
                    return match;
                })
            },
        }
    }
</script>

<style>
    .column {
        margin: 0;
    }

    .modal-card code, .code {
        color: #ff8181;
        background-color: #262626;
    }

    .controls-form-group {
        display: flex;
        align-items: flex-end;
        flex-flow: column;
        justify-content: space-around;
    }

    .controls-form-group, .toggle, select {
        width: 100%;
    }

    .controls-form-group button {
        width: 40%;
    }

    .toggle {
        display: flex;
        justify-content: flex-end;
    }

    /*TOGGLE STYLE*/
    /* toggle buttons */
    .switch {
        position: relative;
        display: inline-block;
        width: 130px;
        height: 34px;
    }

    .switch input {
        display: none;
    }

    .slider {
        border: 1px solid white;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .slider::before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .toggle input:checked + .slider {
        background-color: green;
    }

    .toggle input:checked + .slider::before {
        -webkit-transform: translateX(95px);
        -ms-transform: translateX(95px);
        transform: translateX(95px);
    }

    .on {
        display: none;
    }

    .on,
    .off {
        color: white;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        font-size: 10px;
        font-family: Verdana, sans-serif;
    }

    .toggle input:checked + .slider .on {
        display: block;
    }

    .toggle input:checked + .slider .off {
        display: none;
    }

    .slider.round {
        border-radius: 34px;
    }

    .slider.round::before {
        border-radius: 50%;
    }

    /*END TOGGLE*/


    .log-container {
        background-color: black;
        border-radius: 5px;
        margin-top: 1rem;
        padding: 2rem 1.3rem 4rem;
        border-collapse: collapse;
    }

    .log-container table {
        background-color: black;
    }

    .log-container table tr th {
        color: #e6e6e6;
        font-weight: 400;
        font-size: 0.75rem;

    }

    .log-container table tbody tr:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .log-container table tbody tr:active {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .button:active, .button.is-active, .button:focus, .button.is-focused {
        color: inherit;
    }

    button.is-larger {
        font-size: 2.1rem;
    }

    .linkActionsColumn button[disabled] {
        background-color: transparent;
    }

    button.no-style {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    button.no-style:hover {
        border: none;
        color: white;
        transform: scale(1.2);
    }

    i.facts {
        color: rgb(248, 193, 69);
    }

    i.no-facts {
        color: gray;
    }

    i.editCommand::after {
        font-size: 5pt;
        content: "▼";
    }

    i sub {
        font-family: sans-serif;
    }

    .controls-container {
    }

    .log-container table tbody td {
        vertical-align: middle;
        border: none;
        min-height: 3.5rem;
    }

    .log-container .decideColumn {
        color: gray;
        width: 120px;
        word-break: break-word;
        font-size: 0.75rem;
        text-align: center !important;
    }

    table tbody td.linkStatusColumn {
        padding: 0;
        vertical-align: top;
    }

    table tbody td.linkActionsColumn {
        display: flex;
        align-items: center;
        flex-flow: row-reverse;
        padding-bottom: 0;
    }

    .editButtonContainer.selected {
        background-color: #2b2929;
        border-radius: 2px 2px 0;
        padding: 5px 0;
    }

    table tbody tr.linkEditCommandRow td:last-child {
        display: flex;
        justify-content: space-around;
        padding: 0;
        flex-flow: row;
        align-items: center;
        background-color: #2b2929;
        border-radius: 2px;
    }

    table tbody tr.linkEditCommandRow textarea {
        border-radius: 2px;
        line-height: 0.75rem;
        width: 10rem;
    }

    table tbody tr.linkEditCommandRow .linkEditControls {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
    }

    /*gray timeline*/
    table tbody td span.linkStatus::before {
        width: 2px;
        height: 140px;
        background-color: gray;
        content: "";
        display: inline-block;
        position: absolute;
    }

    table tbody:last-child td span.linkStatus::before {
        height: 75px;
    }

    /*circle for event*/
    table tbody td span.linkStatus::after {
        position: relative;
        left: -5px;
        top: 22px;
        display: block;
        background: black;
        border-radius: 50%;
        height: 0.75em;
        width: 0.75em;
        content: "";
        box-shadow: 0 0 0 0.2em #555; /*queued*/
    }

    /*success*/
    table tbody td span.status-success::after {
        box-shadow: 0 0 0 0.2em #4a9;
    }

    /*failure*/
    table tbody td span.status-failure::after {
        box-shadow: 0 0 0 0.2em #c31;
    }

    /*removed*/
    table tbody td span.status-remove::after {
        box-shadow: 0 0 0 0.2em #a05195;
    }

    /*collected*/
    table tbody td span.status-collect::after {
        box-shadow: 0 0 0 0.2em #ffb000;
    }

    /*untrusted*/
    table tbody td span.status-untrusted::after {
        box-shadow: 0 0 0 0.2em white;
    }

    /*visible*/
    table tbody td span.status-visible::after {
        box-shadow: 0 0 0 0.2em #f012be;
    }

    /*timeout*/
    table tbody td span.status-timeout::after {
        box-shadow: 0 0 0 0.2em cornflowerblue;
    }
</style>
